/* Import font */
@import url(/src/style/font-family.css);

/* Define CSS variables */
:root {
    --background-color: #4E8FE7;
    --text-color: #F5F5F5;
    --font-family: 'Montserrat', sans-serif;
    --font-family-raleway: 'Raleway', sans-serif;
    --font-weight-bold: bold;
    --font-weight-normal: normal;
    --font-size-small: 14px;
    --font-size-medium: 20px;
    --font-size-large: 36px;
    --profile-pic-size: 40px;
    --svg-margin-right: 10px;
    --greeting-padding-top: 10px;
    --footer-font-size: 16px;
    --footer-padding: 20px;
    --clock-background: rgba(0, 0, 0, 0.319);
    --clock-border-radius: 10px;
    --clock-width-desktop: 400px;
    --clock-height-desktop: 100px;
    --clock-width-tablet: 300px;
    --clock-height-tablet: 80px;
    --clock-width-mobile: 250px;
    --clock-height-mobile: 60px;
    --gap-small: 10px;
    --gap-medium: 20px;
    --gap-large: 30px;
    
     /* Additional colors */
     --modal-black-color: #0c0c0c;
     --modal-background-color: #3ABEF9;
     --modal-header-background-color: #A7E6FF;
     --modal-footer-background-color: #A7E6FF;
     --modal-footer-button-primary-background: #4E8FE7;
     --modal-footer-button-primary-text: #fff;
     --modal-footer-button-primary-hover-background: #0056b3;
     --modal-footer-button-primary-hover-border: #0056b3;
     --modal-footer-button-secondary-background: #FFFFFF;
}

#full-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#body-content {
    flex-grow: 1;
}

/* Header */
body, header {
    margin: 0;
    padding: 0;
}

.header-background {
    background-color: var(--background-color);
    padding: 20px;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
}

.greeting {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: var(--font-size-medium);
}

.greeting p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: var(--greeting-padding-top);
}

.greeting svg {
    margin-right: var(--svg-margin-right);
}

.greeting-message {
    text-decoration: underline;
}

.diary-center {
    font-size: var(--font-size-large);
    margin-bottom: var(--gap-medium);
    text-decoration: underline;
}

.profile-pic {
    width: var(--profile-pic-size);
    height: var(--profile-pic-size);
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: var(--gap-small);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .diary-center {
        display: none;
        transition: 0.2s;
    }
}

@media (max-width: 390px) {
    .greeting {
        font-size: var(--font-size-small);
    }
}

/* Section: hero section */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/asset/image-homepage/Desktop-background-homepage.jpg');
    background-size: cover;
    background-position: center;
    font-family: var(--font-family); 
    color: var(--text-color);
}

.edit-icon {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center; 
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10px;
    top: 20%; 
    
    color: #fff;
    font-family: var(--font-family);
    z-index: 2; 
}

.clock {
    width: var(--clock-width-desktop); 
    height: var(--clock-height-desktop); 
    background: var(--clock-background);
    border-radius: var(--clock-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
}

.clock span {
    font-size: 50px; 
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 12px; 
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#mints::after {
    content: 'MINS';
}

#sec::after {
    content: 'SEC';
}

@media (max-width: 1024px) {
    .clock {
        width: var(--clock-width-tablet); 
        height: var(--clock-height-tablet); 
    }

    .clock span {
        font-size: 40px; 
    }

    .clock span::after {
        font-size: 10px; 
    }
}

@media (max-width: 390px) {
    .clock {
        width: var(--clock-width-mobile); 
        height: var(--clock-height-mobile); 
    }

    .clock span {
        font-size: 30px; 
    }

    .clock span::after {
        font-size: 8px; 
    }
}

/* Diary: diary button */
.diary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    z-index: 2;
    margin-top: var(--gap-medium); /* Space between clock and CRUD */
}

.diary-text {
    text-align: center;
    color: #F5F5F5;
    font-family: var(--font-family-raleway);
}

.big-box {
    width: 450px;
    height: 200px;
    background-color: #A7E6FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.inner-box h2 {
    text-decoration: underline;
}

.add-task {
    margin-top: 10px;
    text-align: center;
    width: 280px;
    background-color: #3ABEF9;
    border-radius: 50px;
}

.add-task h2 {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 246, 246);
    font-size: var(--font-size-medium);
}

.add-task svg {
    margin-left: 10px;
    color: white;
}

svg path {
    fill: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
    .diary-button {
        top: 30%;
    }
    .big-box {
        width: 250px;
        height: 160px;
    }
    .inner-box h2 {
        font-size: 18px;
    }
    .add-task {
        width: 220px;
    }
    .add-task h2 {
        font-size: 18px;
    }
}

@media (max-width: 390px) {
    .diary-button {
        margin-top: -10%;
    }
    .big-box {
        width: 100px;
        background-color: transparent;
    }
    .inner-box h2 {
        font-size: 20px;
    }
    .add-task {
        margin-top: 0;
        width: 150px;
    }
    .add-task h2 {
        font-size: 14px;
    }
    .diary-text {
        font-size: var(--font-size-small);
    }
}


.big-box {
    width: 450px;
    height: 200px;
    background-color: #A7E6FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.inner-box h2 {
    text-decoration: underline;
}

.add-task {
    margin-top: 10px;
    text-align: center;
    width: 280px;
    background-color: #3ABEF9;
    border-radius: 50px;
}

.add-task h2 {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 246, 246);
    font-size: var(--font-size-medium);
}

.add-task svg {
    margin-left: 10px;
}


@media (max-width: 1024px) {
    .diary-button {
        top: 30%;
    }
    .big-box {
        width: 250px;
        height: 160px;
    }
    .inner-box h2 {
        font-size: 18px;
    }
    .add-task {
        width: 220px;
    }
    .add-task h2 {
        font-size: 18px;
    }
}

@media (max-width: 390px) {
    .diary-button {
        top: 32%;
    }
    .big-box {
        width: 100px;
       background-color: transparent;
    }
    .inner-box h2 {
        font-size: 20px;
    }
    .add-task {
        margin-top: 0;
        width: 150px;
    }
    .add-task h2 {
        font-size: 14px;
    }
    .diary-text {
        font-size: var(--font-size-small);
    }
}

/* CRUD: create, read, update, delete  */
.border-box-diary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
}

.outer-box {
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #3ABEF9;
    border-radius: 16px;
    border: black solid 2px;
}

@media (max-width: 390px) {
    .outer-box {
        width: 250px;
    }
}

.crud {
    display: flex;
    flex-wrap: wrap;
    background-color: #3ABEF9;
    border-radius: 16px;
}

.outside-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.edit-svg {
    display: flex;
    gap: 10px;
}

.input-with-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.input-with-icon textarea {
    flex: 1; /* Allow the textarea to expand to fill available space */
}

.input-with-icon > input[type="text"],
.input-with-icon > textarea,
.input-container > div > input[type="text"] {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #ccc; /* Example border style */
    box-sizing: border-box;
    justify-content: space-between;
}

#text-area {
    width: 100%; /* Use full width available */
    height: 120px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

svg {
    fill: black;
    width: 24px; /* Adjust SVG size as needed */
    height: 24px;
}

/* Pop up */

/* Centering the modal */
.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for modal dialog */
.modal-dialog {
    max-width: 500px; 
    width: 100%; 
}
  
/* Style for modal content */
.modal-content {
    background-color: var(--modal-background-color);
    border: 1px solid var(--modal-border-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
}

/* Style for modal header */
.modal-header {
    background-color: var(--modal-header-background-color);
    padding: 20px;
    border-bottom: 1px solid var(--modal-border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
  
/* Style for modal title */
.modal-title {
    color: var(--modal-black-color);
    font-size: 16px;
    margin: 0;
    font-family: var(--font-family);
}
  
/* Style for modal body */
.modal-body {
    padding: 20px;
}
  
/* Style for modal footer */
.modal-footer {
    background-color: var(--modal-footer-background-color);
    padding: 20px;
    border-top: 1px solid var(--modal-border-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: end; 
}
  
/* Additional styles for inputs and buttons inside modal */
.modal-body p {
    color: var(--modal-black-color);
    margin-bottom: 5px;
    font-family: var(--font-family);
}

.modal-body input[type="text"],
.modal-body input[type="date"],
.modal-body textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--font-family);
}
  
.modal-footer button {
    padding: 8px 15px;
    margin-left: 10px;
    font-family: var(--font-family);
}
  
.modal-footer .btn-secondary {
    border-radius: 4px;
    background-color: var(--modal-footer-button-secondary-background);
    color: var(--modal-footer-button-secondary-text);
    border: 1px solid var(--modal-border-color);
    font-family: var(--font-family);
    color: black;
}
  
.modal-footer .btn-primary {
    background-color: var(--modal-footer-button-primary-background);
    color: var(--modal-footer-button-primary-text);
    border-radius: 4px;
    border: var(--modal-footer-button-primary-background);
    font-family: var(--font-family);
}
  
.modal-footer .btn-primary:hover {
    background-color: var(--modal-footer-button-primary-hover-background);
    border-color: var(--modal-footer-button-primary-hover-border);
}

/* Footer */
footer {
    padding: var(--footer-padding);
    background-color: #545F71;
    font-family: var(--font-family);
    font-size: var(--footer-font-size);
    color: var(--text-color);
    margin-top: auto; /* Push footer to bottom */
}

.svg-icon {
    display: flex;
    gap: var(--gap-medium);
}

.social-link {
    display: flex;
    justify-content: space-between;
}

.social-link img {
    width: 150px;
}

.personal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--gap-medium);
    color: var(--text-color);
}

.location-info {
    gap: var(--gap-small);
    display: flex;
    align-items: center;
}

.location-info > p {
    position: relative;
    top: 5px;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

@media (max-width: 390px) {
    .social-link img {
        width: 120px;
    }

    .social-link {
        flex-direction: column;
        align-items: start;
    }

    .svg-icon {
        margin-top: var(--gap-medium); /* Optional: Adjust spacing */
    }

    .personal-info {
        flex-direction: column;
        align-items: start;
        padding-top: 0px;
    }
}
