/* Import font */
@import url(/src/style/font-family.css);

/* Define CSS variables */
:root {
    --profile-pic-size: 40px;
    --svg-margin-right: 10px;
    --greeting-padding-top: 10px;
    --footer-font-size: 16px;
    --footer-padding: 20px;
    
    /* border radius */
    

    /* Font size */
    --font-size-small: 14px;
    --font-size-medium: 20px;
    --font-size-large: 36px;

    /* Font weight */
    --font-weight-bold: bold;
    --font-weight-normal: normal;
   
    /* Font family */
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-raleway: 'Raleway', sans-serif;

    /* Gap */
    --gap-small: 10px;
    --gap-medium: 20px;
    --gap-large: 30px;

    /* Margin */
    --margin-negative: -10%;
    --margin-default: 0px;
    --margin-small: 10px;
    --margin-medium: 20px;
    --margin-large: 30px;
    --margin-larger: 50px;
    --margin-auto: auto;

    /* Padding */
    --padding-default: 0px;
    --padding-small: 10px;
    --padding-medium: 20px;
    --padding-large: 30px;
    --padding-larger: 50px;

    /* Clock sizing*/
    --clock-border-radius: 10px;
    --clock-width-desktop: 400px;
    --clock-height-desktop: 100px;
    --clock-width-tablet: 300px;
    --clock-height-tablet: 80px;
    --clock-width-mobile: 250px;
    --clock-height-mobile: 60px;

     /* colors */
     --modal-inside-white: #fff;
     --white: #f5f5f5;
     --background-color: #4E8FE7;
     --dark-blue: #050C9C;
     --darker-blue:  #0056b3;
     --blue: #3573EF;
     --gray: #545F71;
     --wavy-blue: #3ABEF9;
     --light-blue: #A7E6FF;
     --black: #0c0c0c;
     --modal-background: rgb(0, 0, 0, 0.5);
     --clock-background: rgba(0, 0, 0, 0.319);
}

#full-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#body-content {
    flex-grow: 1;
}

/* Header */
body, header {
    margin: 0;
    padding: 0;
}

.header-background {
    background-color: var(--background-color);
    padding: 20px;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-weight-bold);
}

.greeting {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: var(--font-size-medium);
}

.greeting p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: var(--greeting-padding-top);
}

.greeting svg {
    margin-right: var(--svg-margin-right);
}

.greeting-message {
    text-decoration: underline;
}

.diary-center {
    font-size: var(--font-size-large);
    margin-bottom: var(--gap-medium);
    text-decoration: underline;
}

.profile-pic {
    width: var(--profile-pic-size);
    height: var(--profile-pic-size);
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: var(--gap-small);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .diary-center {
        display: none;
        transition: 0.2s;
    }
}

@media (max-width: 390px) {
    .greeting {
        font-size: var(--font-size-small);
    }
}

/* Section: hero section */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/asset/image-homepage/Desktop-background-homepage.jpg');
    background-size: cover;
    background-position: center;
    font-family: var(--font-family-montserrat); 
    color: var(--white);
}

.edit-icon {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center; 
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10px;
    top: 20%; 
    color: var(--white);
    font-family: var(--font-family-montserrat);
    z-index: 2; 
}

.clock {
    width: var(--clock-width-desktop); 
    height: var(--clock-height-desktop); 
    background: var(--clock-background);
    border-radius: var(--clock-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
}

.clock span {
    font-size: 50px; 
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 12px; 
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#mints::after {
    content: 'MINS';
}

#sec::after {
    content: 'SEC';
}

@media (max-width: 1024px) {
    .clock {
        width: var(--clock-width-tablet); 
        height: var(--clock-height-tablet); 
    }

    .clock span {
        font-size: 40px; 
    }

    .clock span::after {
        font-size: 10px; 
    }
}

@media (max-width: 390px) {
    .clock {
        width: var(--clock-width-mobile); 
        height: var(--clock-height-mobile); 
    }

    .clock span {
        font-size: 30px; 
    }

    .clock span::after {
        font-size: 8px; 
    }
}

/* Diary: diary button */
.diary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    z-index: 1;
    margin-top: var(--gap-medium); 
}

.diary-text {
    text-align: center;
    color: var(--white);
    font-family: var(--font-family-raleway);
}

.big-box {
    background-color: var(--light-blue);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.inner-box h2 {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .diary-button {
        top: 30%;
    }

    .inner-box h2 {
        font-size: 18px;
    }
}

@media (max-width: 390px) {
    .diary-button {
        margin-top: -10%;
    }
    .big-box {
        width: 100px;
        background-color: transparent;
    }
    .inner-box h2 {
        font-size: 20px;
    }
    .diary-text {
        font-size: var(--font-size-small);
    }
}

.big-box {
    width: 300px;
    height: 150px;
    background-color: var(--light-blue);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .big-box {
        width: 250px;
        height: 100px;
    }
}

@media (max-width: 390px) {
    .big-box {
        margin-top: 20px;
        width: 100px;
       background-color: transparent;
    }
}

/* Crud box */
.custom-div {
    margin-top: 50px;
    color: var(--black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-montserrat);
  }
  
  .custom-div button {
    cursor: pointer;
  }
  
  .custom-div .crud {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    background: var(--light-blue);
    overflow: hidden;
  }
  
  .custom-div .diary-task {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
  
  .custom-div .diary-task span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
  }
  
  .custom-div #btn-add {
    font-size: 20px;
    font-weight: 500;
    width: 30px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    background-color: var(--darker-blue);
  }
  
  .custom-div #btn-add:hover {
    background-color:var(--black);
  }
  
  .table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }

  .custom-div .table-container {
    padding: 10px;
    height: calc(100% - 70px);
    overflow-y: auto;
  }
  
  .custom-div table {
    width: 100%;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  .custom-div thead {
    background-color: var(--darker-blue);
    color: var(--white);
  }
  
  .custom-div tr {
    border-bottom: 1px solid var(--modal-footer-button-secondary-background) !important;
  }
  
  .custom-div tbody tr td {
    padding: 20px;
  }
  
  .custom-div thead tr th {
    padding: 20px;
    text-align: center;
  }

  #date-th {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden; 
  }
  
  #delete-th {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  
  .custom-div tbody tr {
    text-align: center;
  }
  
  .custom-div thead tr th.action {
    width: 100px;
    text-align: center;
  }
  
  .custom-div tbody tr td.action {
    text-align: center;
  }
  
  /* Modal inside the box */
  .custom-div .modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--modal-background);
    display: none;
    z-index: 99;
    align-items: center;
    justify-content: center;
  }
  
  .custom-div .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: var(--modal-inside-white);
    border-radius: 10px;
    width: 50%;
  }
  
  .custom-div .modal label {
    font-size: 15px;
    width: 100%;
  }
  
  .custom-div .modal input {
    width: 100%;
    outline: none;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .custom-div .modal button {
    width: 100%;
    margin: 10px auto;
    outline: none;
    border-radius: 16px;
    padding: 5px 10px;
    border: none;
    background-color: var(--darker-blue);
    color:  var(--white);
  }
  
  .custom-div .modal button:hover {
    background-color: var(--black);
  }
  
  .custom-div .active {
    display: flex;
  }
  
  .custom-div .active .modal {
    animation: modal .4s;
  }
  
  /* Edit and delete button */
  .custom-div td button {
    border: none;
    outline: none;
    background: transparent;
  }
  
  .custom-div td button i {
    font-size: 24px;
  }
  
  .custom-div td button i:first-child {
    margin-right: 10px;
  }


  /* Responsive adjustments for text size and overflow */
@media (max-width: 1024px) {
    .custom-div .diary-task span {
      font-size: 20px;
    }
  
    .custom-div tbody tr td, .custom-div thead tr th {
      font-size: 16px;
    }
    
    .custom-div .modal label, .custom-div .modal input {
      font-size: 16px;
    }
  }
  
  @media (max-width: 390px) {
    .custom-div .diary-task span {
      font-size: 16px;
    }
  
    .custom-div tbody tr td, .custom-div thead tr th {
      font-size: 12px;
    }
    
    .custom-div .modal label, .custom-div .modal input {
      font-size: 12px;
    }
  
    .custom-div .modal button {
      font-size: 12px;
    }
  }
  
  /* Enable horizontal overflow for text */
  .custom-div .diary-task span, 
  .custom-div tbody tr td, 
  .custom-div thead tr th {
    white-space: nowrap;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  .custom-div tbody tr td.description {
    word-wrap: break-word;
    overflow-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
  }
  

/* Footer */
footer {
    padding: var(--footer-padding);
    background-color: #545F71;
    font-family: var(--font-family-montserrat);
    font-size: var(--footer-font-size);
    color: var(--white);
    margin-top: auto; /* Push footer to bottom */
}

.svg-icon {
    display: flex;
    gap: var(--gap-medium);
}

.social-link {
    display: flex;
    justify-content: space-between;
}

.social-link img {
    width: 150px;
}

.personal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--gap-medium);
    color: var(--white);
}

.location-info {
    gap: var(--gap-small);
    display: flex;
    align-items: center;
}

.location-info > p {
    position: relative;
    top: 5px;
    color: var(--white);
}

a {
    text-decoration: none;
}

@media (max-width: 390px) {
    .social-link img {
        width: 120px;
    }

    .social-link {
        flex-direction: column;
        align-items: start;
    }

    .svg-icon {
        margin-top: var(--gap-medium); /* Optional: Adjust spacing */
    }

    .personal-info {
        flex-direction: column;
        align-items: start;
        padding-top: 0px;
    }
}

